header {
  display: flex;
  background-color: #262626;
  width: 100%;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  
}

.navIcon{
  width: 10%;
}
.navIcon img{
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  width: 85%;
  justify-content: space-around;
  align-items: center;
  font-size: 2vmax;
  color: #cacaca;
}
.iconNav {
  color: #cacaca;
  font-size: 3vmax;
  transition: all 300ms;
}
.inconNumber:nth-child(){
  color: green;
}
.iconNav:hover{
  color: green;
}

.link{
    text-decoration: none;
    color: #cacaca;
    background-color: #262626;
    text-align: center;
    border-radius: 1em;
    padding: .5vmax;
    width: auto;
    font-weight: bold;
    transition: all 300ms;
    border: #cacaca 2px inset;

}
.linkActive{
    text-decoration: none;
    color: #cacaca;
    background-color: #ef1c17;
    text-align: center;
    border-radius: 1em;
    padding: .5vmax;
    width: auto;
    font-weight: bold;
    transition: all 300ms;
    border: #cacaca 2px solid;
}

.link:hover,
.linkActive:hover{
  box-shadow: 2px 2px 15px rgba(107, 107, 107, 0.5);
  background-color: #ef1c17;
  color: #cacaca;
}
.statusOk{
  background-color: green;
}