body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0px;
  margin: 0px;  
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*! GENERALES  */
.container{
  width: 80%;
}
/*! GENERALES  */

/*! HEADER  */
header{
  display: flex;
  background-color: #262626;
  width: 70%;
  margin: 0 auto;
  max-height: 5%;
  flex-wrap: nowrap;
}
.icon{
  width: 10%;
}
.navbar{
  display: flex;
  width: 100%;
  justify-content:space-around;
  align-items: center;
  font-size: 1.5em;
  color: #cacaca;
  
}
.iconCar{
  color: #cacaca;
  font-size: 1.8em;
}

/*! HEADER  */
/*! COUNTER  */
.btnCount{
  margin: 0em .5em;
  width: 2em;
  height: 2em;
}
/*! COUNTER  */

/*!  LIST CONTAINER*/
.ItemListContainer{
  background-color: #262626;
  margin: 0px auto;
}
.itemContainer{
  display: flex; 
  width: 100%;
  padding: 1em;
  justify-content: space-around;
}
.itemImg{
  width: 20%;
  border-radius: 1em;
}
.itemTextContainer{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  color: #cacaca;
  margin: 0px;
  
}
.itemTextContainer h3{
  color: #ef1a15;
  width: 100%;
  height: 20%;
}
.itemTextContainer p {
  width: 80%;
  height: 60%;
}
.itemTextContainer label {
  width: 10%;
  height: 60%;
}
.itemCountContainer{
  width: 20%;
  color: #cacaca;
  text-align: center;

}
/*!  LIST CONTAINER*/
