body {
  margin: 0;
  font-family: 'Cascadia Code',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0px;
  margin: 0px;  
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*! GENERALES  */
.container{
  width: 80%;
}
/*! GENERALES  */

/*! HEADER  */
header{
  display: flex;
  background-color: #262626;
  width: 70%;
  margin: 0 auto;
  max-height: 5%;
  flex-wrap: nowrap;
}
.icon{
  width: 10%;
}
.navbar{
  display: flex;
  width: 100%;
  justify-content:space-around;
  align-items: center;
  font-size: 1.5em;
  color: #cacaca;
  
}
.iconCar{
  color: #cacaca;
  font-size: 1.8em;
}

/*! HEADER  */
/*! COUNTER  */

/*! COUNTER  */

/*!  LIST CONTAINER*/
.itemListContainer{  
  background-color: #262626;
  width: 80%;
  margin: 3em auto;
}
.itemList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.itemContainer{
  display: flex;
  width: 20%;
  margin: 1em 1em;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: 2px 2px 15px rgba(107, 107, 107, 0.5);

}
.itemImg{
  border-radius: 1em;
}
.itemTextContainer{
  text-align: center;
  color: #cacaca;
  font-size: large;
  
}
.itemTextContainer h3{
  color: #ef1c17;
  font-size: 1.5em;
}
.itemTextContainer p{  
  font-size: 1em;
}
.itemCountContainer{
  color: #cacaca;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  padding-bottom: 1em;
}
.itemCountContainer button{
  padding: .5em;
  font-size: 1em;
  border-radius: .3em;
  background-color: #ef1c17;
  color: #cacaca;
  font-weight: bold;
}
/*!  LIST CONTAINER*/
